/bin/*
!/bin/.gitkeep
/dist/
*.test
*.out
*.prof
*.trace
coverage.*
go.work
go.work.sum
.env
.env.*
!.env.example
*.log
*.tmp
*.swp
*.swo
*~
.nvimlog
.idea/
.vscode/
.luarc.json
.DS_Store
Thumbs.db
result
result-*
doc/tags
